<!doctype html>

<html charset="utf-8" lang="nb-NO">
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            @font-face {
                font-family: "JetBrains Mono";
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src:
                    local(JetBrains Mono),
                    url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2)
                        format("woff2");
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
                    U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
                    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                    U+FEFF, U+FFFD;
            }

            * {
                box-sizing: border-box;
            }

            html {
                font-family:
                    Jetbrains Mono,
                    monospace;
                background-color: #2e3440;
                color: #eceff4;
                height: 100%;
                margin: 0;
            }

            ::selection {
                background-color: #4c566a;
            }

            @keyframes fade-in {
                from {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            body {
                margin: 0;
                padding: 0;
                display: grid;
                height: 100vh;
                grid-template-rows: max-content 1fr;
            }

            a {
                color: #5e81ac;
            }
            a:hover {
                background-color: #434c5e;
            }

            .link-list {
                justify-self: start;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 8px;
                padding: 8px;
            }
            .link-list-item {
                display: block;
                padding: 4px;
                border-radius: 2px;
            }

            * {
                box-sizing: border-box;
            }

            hr {
                margin: 2em 0;
            }

            main {
                max-width: 80ch;
                padding: 0 16px;
            }

            .key-value {
                display: grid;
                grid-template-columns: max-content auto;
                padding: 0;
                gap: 16px;
            }
            .key-value li {
                display: grid;
                grid-column: span 2;
                grid-template-columns: subgrid;
            }
            .key-value.posts time {
                color: rgba(255, 255, 255, 0.54);
            }
        </style>

        <link rel="stylesheet" href="/styles/index.css" />

        <title>tk.bremnes.online</title>

        <link rel="me" value="https://mastodon.green/@tk" />
    </head>
    <body>
        <ul class="link-list">
            <li class="link-list-item">
                <a href="/">/.</a>
            </li>
            <li class="link-list-item">
                <a href="/musings/tools">Verktøykasse</a>
            </li>
            <li class="link-list-item">
                <a href="/til">I dag lærte jeg</a>
            </li>
            <li class="link-list-item">
                <a href="/about">Om</a>
            </li>
        </ul>

        {% block content %} {% endblock %}

        <a rel="me" href="https://mastodon.green/@tk" style="display: none">
            Mastodon
        </a>
    </body>
</html>
