{% extends "base.html" %} {% block content %}
<main>
    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}
</main>

<footer class="section-footer">
    <p class="updated">
        <span>Oppdatert</span>
        <time>{{ page.updated }}</time>
    </p>
</footer>
{% endblock content %}
