{% extends "base.html" %} {% block content %}
<main>
    <h2 class="title">{{ page.title }}</h2>
    <p class="subtitle"><strong>{{ page.date }}</strong></p>
    {{ page.content | safe }} {% endblock content %}
</main>
