{% extends "base.html" %} {% block content %}
<main>
    <h2 class="title">{{ section.title }}</h2>

    <p>
        Noen dager lærer jeg noe. Noen dager skriver jeg noe om det her. Ideen
        er inspirert av/stjålet fra
        <a href="https://jvns.ca/blog/2024/11/09/new-microblog/">Julia Evans</a
        >.
    </p>

    <hr />

    <ul class="key-value posts">
        {% for page in section.pages %}
        <li>
            <time datetime="{{ page.date }}">{{ page.date }}</time>
            <div>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock content %}
</main>
