/* base */
* {
    box-sizing: border-box;
}

.section-footer {
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section-footer .updated {
    text-align: right;
    margin: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    align-self: end;
    display: grid;
    grid-auto-flow: row;
}
.section-footer .updated span {
    display: block;
}

/* index.html */
@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1.main-title {
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 0 16px;
    align-self: center;
    justify-self: start;
}

h1.main-title::after {
    content: "_";
    animation: blink 0.5s infinite alternate;
    animation-timing-function: steps(1, start);
    user-select: none;
}

h1.main-title::before {
    content: "> ";
    color: #5e81ac;
    user-select: none;
}

.subtitle {
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 450px) {
    h1.main-title {
        font-size: 24px;
    }
}

.changelog-link {
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
}
.changelog-link:hover {
    background-color: #434c5e;
}
